# dependencies
client/node_modules/

# Expo
client/.expo/
client/dist/
client/web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

client/.vscode
client/android
client/ios

server/__pycache__
server/myenv
server/node_modules
server/uploads

testapp.py

.env
.aider*
